#navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0px;
  top: 0px;
  background: -webkit-linear-gradient(top, rgba(20,20,20,0.9), transparent);
  color: rgba(255, 255, 255, 0.7);
  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
}

#navbar span {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}