#body {
  position: fixed;
  top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../../assets/backGround.jpg) center no-repeat;
	background-size: cover;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}