<mat-toolbar>
  <mat-toolbar-row class="toolbar-infos">
    <span>Name of your Galaxy: <span id="galaxy-name">{{ defaultUser.name }}</span></span>
    <span class="fill-space"></span>
    <span>Total amount of planets: {{ defaultUser.planets.length }}</span>
    <span>Total amount of ships: {{ defaultUser.getTotalShips() }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <div class="example-sidenav-content">
    Some text
  </div>

</mat-drawer-container>

<div id="home-main">

</div>
