@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
	font-family: Montserrat;
	src:
		local(Montserrat),
		url(./assets/fonts/Montserrat.woff2);
}

*{
	margin: 0;
	padding: 0;
	border: 0 solid #000;
	border-radius: 0;
	color: inherit;
	font: inherit;
	line-height: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	text-align: inherit;
	text-indent: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
	box-sizing: border-box;
	opacity: 1;
}

body {
	background: #323;
}

#body-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(./assets/w/stars.jpg) center no-repeat, #323;
	background-size: cover;
	filter: blur(10px);
	transition: filter ease 1s, background ease 1s;
}

#body {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Montserrat, sans-serif;
	color: rgba(255,255,255,0.5);
	background: rgba(220,220,220,0.1);
}

/* ------------------- */
/*
#mm:before {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	content: "";
	background: -webkit-linear-gradient(top, rgba(20,20,20,0.9), transparent);
	z-index: -1;
}

#mm {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	z-index: 1000;
	overflow: hidden;
	color: rgba(255,255,255,0.7);
	line-height: 40px;
}

#mm > [data-contents="left"] {
}
#mm > [data-contents="middle"] {
	letter-spacing: -1.5px;
	color: #f44;
	text-transform: uppercase;
}
#mm > [data-contents="right"] {
}

#mm_sm-bt {
	width: 40px;
	background: url(./assets/icons/menu.svg) center no-repeat;
	background-size: 20px;
}

#mm_cancel-bt {
	width: 40px;
	background: url(./assets/icons/cancel.svg) center no-repeat;
	background-size: 15px;
}

.mm_bt {
	cursor: pointer;
	height: 40px;
}

/* ------------------- */

#content {
	display: flex;
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}