<div id="content">
	<div id=navbar>
		<button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
		<span>{{ user.username || "Undefined" }}</span>
		<span *ngIf="user.planets">{{ user.planets.size || "Undefined" }}&nbsp;Planets</span>
		<span *ngIf="!user.planets">Undefined&nbsp;Planets</span>
		<span>{{ user.ships || "Undefined" }}&nbsp;Ships</span>
		<span>{{ user.actionPointsCount }}&nbsp;/&nbsp;12&nbsp;PA</span>
		<span style="text-align:right">Score&nbsp;:&nbsp;{{ user.score || "0" }}</span>
		<span class="stretch"></span>
	</div>
	<mat-sidenav-container class="container">
		<mat-sidenav #snav [mode]="side">
			<mat-nav-list>
				<a mat-list-item (click)="launchAttack()">Invade a planet</a>
				<a mat-list-item>test</a>
				<a mat-list-item>test</a>
				<a mat-list-item>test</a>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content>
			<span *ngFor="let planet of planets" class="planet {{ getType(planet.name) }}">
				<div data-content=image>
					<div class="planet-infos">
						<div>{{ planet.age }}&nbsp;Y</div>
						<div>{{ planet.shipsCount }}&nbsp;Ships</div>
					</div>
				</div>
				<div data-content=name>{{ planet.name }}</div>
			</span>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>